{% extends 'main.html' %}
{% block content %}
	<div class='container'>
		<div class= 'main'>
			

			<h1> Countries</h1>

			{%if CountryList!=[]%}


			{%for i in CountryList%}
			<h1><a href = '{{url_for('displayitems',countryname=i.name)}}' style= "text-decoration:none">{{i.name}}</a></h1>

			{%endfor%}

			{%else%}
			<h1>You currently have no Countries in your list</h1>
			<br>
			{%endif%}
		</div>
		<div class='latest'> 
		{%if latestList!=[]%}
		<h1>Latest Places:</h1>
		{%for item in latestList%}

		<h2>{{item.name}}<span>({{item.country.name}})</span></h2>
		{%endfor%}
		{%endif%}
		</div>
	{% endblock %}
</div>